<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.geekyouup.android.ustopwatch" android:versionCode="35"
	android:versionName="6.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:xlargeScreens="true" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false" android:hardwareAccelerated="true" android:theme="@style/Theme.theme_usw">

		<activity android:name=".UltimateStopwatchActivity"
			android:label="@string/app_name" android:windowSoftInputMode="adjustNothing" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".SettingsActivity"
			android:label="@string/app_name_caps"
            android:icon="@drawable/icon_ab"/>

		<service android:name=".AlarmUpdater$UpdateService" />

	</application>
</manifest> 